<div class="container">
  <app-button size="small" type="secondary" (click)="incrementar()" texto="aumenta"></app-button>
  <p>{{ count() }}</p>
  <app-button (click)="decrementar()" texto="reduce" />
  <app-button ngClass="secondary" (click)="reset()" texto="reinicia" />
  <!-- <app-button
    [buttonType]="'primary'"
    [size]="'large'"
    [texto]="'Botón Primario'"
    [disabled]="false"
    [onClick]="incrementar"
  > -->
  <!-- </app-button> -->
   <app-button size="large" type="secondary" texto="disabled" [destructive]="true"/>
   <app-button size="large" type="secondary" texto="disabled" [disabled]="true"/>
   <app-button size="large" type="tertiary" texto="disabled" [destructive]="false"/>
   <app-button size="large" type="tertiary" texto="disabled" [disabled]="true"/>
  <router-outlet></router-outlet>
</div>
